<mat-sidenav-container class="layout-container">
  <mat-sidenav
    [opened]="sidenavOpened"
    mode="side"
    class="app-sidenav"
  >
    <div class="brand">
      <h2>Botica Inventario</h2>
      <p>Sistema de gestión</p>
    </div>

    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of menuItems"
        [routerLink]="item.route"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="topbar">
      <button mat-icon-button type="button" (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="topbar-title">Botica Inventario</span>

      <span class="spacer"></span>

      <span class="user-name" *ngIf="authService.currentUser() as user">
        {{ user.nombres }} {{ user.apellidos }}
      </span>

      <button mat-button type="button" (click)="logout()">Salir</button>
    </mat-toolbar>

    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>